{% load humanize %}
{% load markdown_extras %}

<p>
    <details>
        
    <summary>
        <strong>{{job.title}}</strong> |
        {{job.company.name}} |
        {% for loc in job.location.all %}{% if not forloop.last %}{{loc.city}}, {% else %}{{loc.city}}{% endif %} {% endfor %} |
        ${{job.salaryMin|intcomma}} - ${{job.salaryMax|intcomma}} |
        {{job.num_apply}} applied |
        <form method="POST" action="{% url 'jobs:apply' job.id %}" >
            {% csrf_token %}
            <button type="submit">Apply</button>
        </form>
        {% if loc == "dashboard" %}
            <form method="POST" action="{% url 'jobs:remove_job_from_user' job.id %}" >
                {% csrf_token %}
                <button type="submit">Remove</button>
            </form>
        {% elif loc == "review" %}
            <form method="POST" action="{% url 'jobs:post_review_job_posting' job.id %}" >
                {% csrf_token %}
                <button type="submit" name="decision" value="A">Approve</button>
                <button type="submit" name="decision" value="R">Reject</button>
            </form>
        {% endif %}
        {% if user.is_superuser %}
            {{job.hotness}}
        {% endif %}
    </summary>
    <h3>Company description</h3>
    <p>{{job.company.description | markdown | safe}}</p>
    <h3>Job description</h3>
    <p>{{job.description | markdown | safe}}</p>
</details>
</p>
