{% load humanize %}
{% load markdown_extras %}

<p>
    <details>

    <summary>
        <strong>{{job.title}}</strong> |
        {{job.company.name}} |
        {% for loc in job.location.all %}
            {% if not forloop.last %}
                {{loc.city}}, 
            {% else %}
                {{loc.city}}
            {% endif %} 
        {% endfor %} |
        
        {% if job.salary_min %}
            ${{job.salary_min|intcomma}}
        {% endif %}
        {% if job.salary_max %}
            - ${{job.salary_max|intcomma}}
        {% endif %}
        {% if job.salary_min or job.salary_max %}
        |
        {% endif %}
        {{job.created_at|naturaltime}} |
        {{job.num_apply}} applied
        <form method="POST" action="{% url 'jobs:apply' job.id %}" target="_blank">
            {% csrf_token %}
            <button type="submit">Apply</button>
        </form>
        {% if loc == "dashboard" %}
            <form method="POST" action="{% url 'jobs:remove_job_from_user' job.id %}" >
                {% csrf_token %}
                <button type="submit">Remove</button>
            </form>
        {% elif loc == "review" %}
            <form method="POST" action="{% url 'jobs:post_review_job_posting' job.id %}" >
                {% csrf_token %}
                <button type="submit" name="decision" value="A">Approve</button>
                <button type="submit" name="decision" value="R">Reject</button>
            </form>
        {% endif %}
        {% if user.is_superuser %}
            {{job.hotness}}
        {% endif %}
    </summary>
    {% comment %} <h3>Company description</h3>
    <p>{{job.company.description | markdown | safe}}</p> {% endcomment %}
    <h3>Job description</h3>
    <p>{{job.description | markdown | safe}}</p>
    <a href={{job.application_url}}>More information</a>
</details>
</p>
