{% extends "base.html" %}
{% load static %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<nav>
  {% if user.is_authenticated %}
      {% comment %} <a href="#">Post a Job</a> {% endcomment %}
      <a href="/users/{{user.username}}">Dashboard</a>
      <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
      <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
      <a href="/accounts/logout/">Sign Out</a>
      {% if user.is_superuser %}
        <a href="{% url 'jobs:review' %}">Review</a>
      {% endif %}
  {% endif %}
</nav>
{% block inner %}{% endblock inner %}
{% endblock content %}
