{% extends "users/base.html" %}
{% load static %}
{% load humanize %}



{% block inner %}

{% if object == request.user %}
<!-- Action buttons -->

    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>

<!-- End Action buttons -->
{% endif %}
<br>
<h2>Jobs you applied for</h2>
{% for job in user.saved_jobs.all %}
<p>
    <details>
    <summary>
        <strong>{{job.title}}</strong> |
        {{job.company.name}} |
        {% for loc in job.location.all %}{% if not forloop.last %}{{loc.city}}, {% else %}{{loc.city}}{% endif %} {% endfor %} |
        ${{job.salaryMin|intcomma}} - ${{job.salaryMax|intcomma}} |
        {{job.num_apply}} applied |
        <form method="POST" action="{% url 'jobs:apply' job.id %}" >
            {% csrf_token %}
            <button type="submit">Apply</button>
        </form>
        <form method="POST" action="{% url 'jobs:remove_job_from_user' job.id %}" >
            {% csrf_token %}
            <button type="submit">Remove</button>
        </form>
    </summary>
    <p>{{job.description}}</p>
</details>
</p>
{% endfor %}

{% endblock inner %}
